.main-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.layout-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.page-content {
  flex: 1;
  padding: 1.5rem;
  overflow-y: auto;
  background-color: var(--bg-primary);
  transition: all 0.3s ease;
  margin-left: 0;
  transition: margin-left 0.1s ease-in-out;
}

.sidebar:not(.open) + .page-content {
  margin-left: 0;
}

@media (min-width: 991.98px) {
  .page-content {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  .sidebar:not(.open) + .page-content {
    margin-left: 0;
  }
}